*.class
*.log

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.idea
.gradle
.gradletasknamecache
!gradle-wrapper.jar

/build/
/out/
/run/

*.kra       # Just so we don't commit a bunch of unnecessary Krita projects